<a name="pagecontent" id="pagecontent"></a>
<div class="index-sections">
  {{ content_for_index }}
</div>

<style>
  
  @media only screen  
and (max-width : 736px) {
  h2.title {
    display: none;
}
  
  .featured-promotions .feature-section .feature-details .button {
    background: transparent!important;
    border: 3px solid white!important;
}
  
  .container.promotions-grid-full_width {
    padding-top: 10px!important;
}
}
  

</style>